<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booklist</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
    <h1>Books</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Author</th>
                <th>Title</th>
                <th>ISBN</th>
                <th>Published</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.author}"></td>
                <td th:text="${book.title}"></td>
                <td th:text="${book.isbn}"></td>
                <td th:text="${book.publicationYear}"></td>
                <td th:text="${book.price}"></td>
                <td th:text="${book.category != null ? book.category.name : 'No Category'}"></td>
                <td><a th:href="@{/delete/{id}(id=${book.getId})}" class="btn btn-danger">Delete</a></td>
                <td><a th:href="@{/edit/{id}(id=${book.getId})}" class="btn btn-primary">Edit</a></td>
            </tr>
        </tbody>
    </table>
    <a href="/add" class="btn btn-success">Add</a>
</body>

</html>