<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Category List</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <h2>Category List</h2>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        <tr th:each="category : ${categories}">
            <td th:text="${category.categoryid}"></td>
            <td th:text="${category.name}"></td>
        </tr>
    </table>
    <br>
    <a href="/addcategory" class="btn btn-success">Add New Category</a>
</body>
</html>
